# This file may be used to create an environment using
# $ conda create --name <env> --file <this file>
# platform: osx-64
_anaconda_depends
alabaste
alembic
anaconda
anaconda-client
anaconda-project
anyio
appdirs
applaunchservices
appnope
appscript
argh
argon2-cffi
arrow
asgiref
asn1crypto
astroid
astropy
async_generator
atomicwrites
attrs
autopep8
babel
backcall
backports
backports.shutil_get_terminal_size
bcrypt
beautifulsoup4
binaryornot
bitarray
bkcharts
black
blas
bleach
blosc
bokeh
boto
bottleneck
brotli
brotlipy
brunsli
bzip2
c-ares
ca-certificates
cached-property
certifi
cffi
cfitsio
chardet
charls
charset-normalizer
click
cloudpickle
clyent
colorama
conda
conda-content-trust
conda-pack
conda-package-handling
conda-token
contextlib2
cookiecutter
cryptography
curl
cycler
cython
cytoolz
daal4py
dal
dask
dask-core
dataclasses
debugpy
decorator
defusedxml
diff-match-patch
distributed
dnspython
docutils
ecdsa
email-validator
email_validator
entrypoints
et_xmlfile
fastapi
fastcache
filelock
flake8
flask
fonttools
freetype
fsspec
future
get_terminal_size
gevent
giflib
glob2
gmp
gmpy2
greenlet
h11
h5py
hdf5
heapdict
html5lib
icu
idna
imagecodecs
imageio
imagesize
importlib-metadata
importlib_metadata
importlib_resources
inflection
iniconfig
intel-openmp
intervaltree
ipykernel
ipython
ipython_genutils
ipywidgets
isort
itsdangerous
jbig
jdcal
jedi
jinja2
jinja2-time
joblib
jpeg
json5
jsonschema
jupyter
jupyter_client
jupyter_console
jupyter_core
jupyter_server
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
jxrlib
keyring
kiwisolver
krb5
lazy-object-proxy
lcms2
lerc
libaec
libarchive
libcurl
libcxx
libdeflate
libedit
libev
libffi
libgfortran
libiconv
liblief
libllvm11
libnghttp2
libpng
libpq
libsodium
libspatialindex
libssh2
libtiff
libuv
libwebp
libwebp-base
libxml2
libxslt
libzopfli
llvm-openmp
llvmlite
locket
lxml
lz4-c
lzo
mako
markupsafe
matplotlib
matplotlib-base
matplotlib-inline
mccabe
mistune
mkl
mkl-service
mkl_fft
mkl_random
mock
more-itertools
mpc
mpfr
mpi
mpich
mpmath
msgpack-python
multipledispatch
munkres
mypy_extensions
nbclassic
nbclient
nbconvert
nbformat
ncurses
nest-asyncio
networkx
nltk
nose
notebook
numba
numexpr
numpy
numpy-base
numpydoc
olefile
openjpeg
openpyxl
openssl
packaging
pandas
pandocfilters
parso
partd
passlib
path
path.py
pathlib2
pathspec
patsy
pep8
pexpect
pickleshare
pillow
pip
pkginfo
pluggy
ply
poyo
prometheus_client
prompt-toolkit
prompt_toolkit
psutil
psycopg2
ptyprocess
py
py-lief
pycodestyle
pycosat
pycparser
pycryptodome
pycurl
pydantic
pydocstyle
pyerfa
pyflakes
pygments
pylint
pyls-spyder
pyodbc
pyopenssl
pyparsing
pyqt
pyrsistent
pysocks
pytables
pytest
python
python-dateutil
python-dotenv
python-jose-cryptodome
python-libarchive-c
python-lsp-black
python-lsp-jsonrpc
python-lsp-server
python-multipart
python-slugify
python.app
python_abi
pytz
pywavelets
pyyaml
pyzmq
qdarkstyle
qstylizer
qt
qtawesome
qtconsole
qtpy
readline
regex
requests
ripgrep
rope
rtree
ruamel_yaml
scikit-image
scikit-learn
scikit-learn-intelex
scipy
seaborn
send2trash
setuptools
simplegeneric
singledispatch
sip
six
snappy
sniffio
snowballstemmer
sortedcollections
sortedcontainers
soupsieve
sphinx
sphinxcontrib
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinxcontrib-websupport
spyder
spyder-kernels
sqlalchemy
sqlite
starlette
statsmodels
sympy
tbb
tbb4py
tblib
terminado
testpath
text-unidecode
textdistance
threadpoolctl
three-merge
tifffile
tinycss
tk
toml
toolz
tornado
tqdm
traitlets
typed-ast
typing-extensions
typing_extensions
tzdata
ujson
unicodecsv
unidecode
unixodbc
urllib3
uvicorn
watchdog
wcwidth
webencodings
werkzeug
wheel
whichcraft
widgetsnbextension
wrapt
wurlitzer
xlrd
xlsxwriter
xlwings
xlwt
xz
yaml
yapf
zeromq
zfp
zict
zipp
zlib
zope
zope.event
zope.interface
zstd
